.banner{
    display: block;
    color: white;
    margin: 0px;
    padding: .5rem;
    cursor: pointer;
}
.banner:hover{
    color: white;
}
.bannercontainer{
    background-color: var(--green);
}
.bannerflex{
    display: flex;
    justify-content: center;
}