.banner{
    color: white;
    margin: 0px;
    padding: .5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner:hover{
    color: white;
}
.bannercontainer{
    background-color: var(--green);
}
.bannerflex{
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 900px) {
    .banner{
        height: 3rem;
    }
}