.cardContaienr{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    flex: 'flex-grow';
    a{
        color: #FFD700; /* Guld/gul */
        text-decoration: underline;
    }
}
.cardwrapper{
    color: var(--text-color);

    h1{
        margin: 0 .5rem;
        font-size: 3em;
    }
}