.splash{
   
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
    
    .centered{
        width: 60%;
    }
    button{
        background-color: white;
        color: black;
    }
    h1{
        color: white;
        font-stretch: expanded;
    }
    h3{
        color: white;
    }
    
}