.header ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header li{
    float: left;
    padding: 0rem 1rem;
}
.header{
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    overflow-y: hidden;
    background-color: var(--background-color);
    .container{
        display: flex;
        justify-content: center;
    }
    .flex{
        flex-grow: 2;
        max-width: 1200px;
        display: flex;
        background-color: var(--background-color);
        color: var(--text-color);
        border-bottom: solid 2px var(--text-color);
        border-right: solid 6px var(--background-color);
    }
}
.header .container a{
    color: var(--text-color);
}
.header img{
    width: 8rem;
    margin: 0.5rem;
}
@media screen and (max-width: 900px) {
    .header{
        ul{
            display: none;
        }
    }
    .flex{
        justify-content: space-between;
        padding: 0px 20px;
        align-items: center;
    }
    .expand{
        box-sizing: 50px;
    }
}
@media screen and (min-width: 900px) {
    .expand{
        display: none;
        visibility: hidden;
    }
    .flex{
        justify-content: space-evenly;
    }
}